<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script>
        $(document).ready(function () {
            $(".navbar-burger").click(function () {
                $(".navbar-burger").toggleClass("is-active");
                $(".navbar-menu").toggleClass("is-active");
            });
        });

        document.addEventListener('DOMContentLoaded', () => {
            (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                var $notification = $delete.parentNode;

                $delete.addEventListener('click', () => {
                    $notification.parentNode.removeChild($notification);
                });
            });
        });
    </script>
    {% block script %}
    {% endblock %}
    <style>
        .match:hover {
            background: hsl(0, 0%, 98%);
        }
    </style>
</head>
<body>
{% include 'navbar.html' %}
{% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="notification is-{{ category }} mb-0">
        <button class="delete"></button>
        {{ message }}
    </div>
{% endfor %}

{% block content %}
{% endblock %}
</body>
</html>