{% extends 'base.html' %}

{% block title %}
    Liefhebbers Voetbal Liga
{% endblock %}

{% block content %}
    <style>
        .hero {
            background-image: url("{{ url_for('static', filename='tmp.jpg') }}");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
        }
    </style>

    <section class="hero is-fullheight-with-navbar">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1 has-text-white">
                    Voor alle voetballiefhebbers onder ons
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            hallo<br>
            hallo<br>
            hallo<br>
            hallo<br>
            hallo<br>
            hallo<br>
            hallo<br>
            hallo<br>
            hallo<br>
            hallo<br>
            hallo<br>
            hallo<br>
            hallo<br>
            hallo<br>
            hallo<br>
            hallo<br>
            hallo<br>
            hallo<br>
            hallo<br>
            hallo<br>
            hallo<br>
            hallo<br>
            hallo<br>
            hallo<br>
            hallo<br>
            hallo<br>
            hallo<br>
            hallo<br>
            hallo<br>
            hallo<br>
            hallo<br>
            hallo<br>
            hallo<br>
            hallo<br>
        </div>
    </section>
{% endblock %}