<nav class="navbar is-spaced has-shadow">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item is-size-5 has-text-primary" href="{{ url_for('frontend.index') }}">
                <strong>Liefhebbers Voetbal Liga</strong>
            </a>
            <a class="navbar-burger">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <div class="navbar-menu">   {# TODO a #}
            <div class="navbar-start">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link is-arrowless">
                        Divisions
                    </a>
                    <div class="navbar-dropdown">
                        {% for division in divisions %}
                            <a class="navbar-item"
                               href="{{ url_for('frontend.divisions', div=division.id, team=0, season=0) }}">
                                {{ division.name }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            {% if current_user.has_team %}
                <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link is-arrowless">
                        My Team
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            Scores
                        </a>
                        <a class="navbar-item">
                            Club
                        </a>
                    </div>
                </div>
            {% endif %}
            {% if current_user.is_admin or current_user.is_super_admin %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link is-arrowless">
                        Admin
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            Clubs
                        </a>
                        <a class="navbar-item">
                            Teams
                        </a>
                        <a class="navbar-item">
                            Teams
                        </a>
                        <a class="navbar-item">
                            Divisions
                        </a>
                        <a class="navbar-item">
                            Matches
                        </a>
                        <a class="navbar-item">
                            Referees
                        </a>
                        <a class="navbar-item">
                            Users
                        </a>
                    </div>
                </div>
            {% endif %}

            {% if current_user.is_anonymous %}
                <div class="navbar-item">
                    <a class="button is-primary" href="{{ url_for('frontend.login') }}">Log In</a>
                </div>
            {% else %}
                <div class="navbar-item">
                    <a class="button is-primary" href="{{ url_for('frontend.logout') }}">Log Out</a>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
</nav>