<nav class="navbar is-spaced has-shadow">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item is-size-5 has-text-primary" href="{{ url_for('frontend.index') }}">
                <strong>Liefhebbers Voetbal Liga</strong>
            </a>
            <a class="navbar-burger">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <div class="navbar-menu">   {# TODO divisions, a #}
            <div class="navbar-start">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link is-arrowless">
                        Divisions
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            Division 1
                        </a>
                        <a class="navbar-item">
                            Division 2
                        </a>
                        <a class="navbar-item">
                            Division 3
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link is-arrowless">
                        My Team
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            Scores
                        </a>
                        <a class="navbar-item">
                            Club
                        </a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link is-arrowless">
                        Admin
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            Clubs
                        </a>
                        <a class="navbar-item">
                            Teams
                        </a>
                        <a class="navbar-item">
                            Teams
                        </a>
                        <a class="navbar-item">
                            Divisions
                        </a>
                        <a class="navbar-item">
                            Matches
                        </a>
                        <a class="navbar-item">
                            Referees
                        </a>
                        <a class="navbar-item">
                            Users
                        </a>
                    </div>
                </div>
                <div class="navbar-item">
                    <a class="button is-primary">Log In</a>
                </div>
                <div class="navbar-item">
                    <a class="button is-primary">Log Out</a>
                </div>
            </div>
        </div>
    </div>
</nav>