{% extends 'base.html' %}

{% block title %}
    Referees
{% endblock %}

{% block content %}
    <style>
        tr {
            cursor: pointer;
        }
    </style>
    <div class="section">
        <div class="container">
            <div class="level">

                <h1 class="title level-left has-text-primary mb-0">Referees</h1>

                <a class="button is-success level-right" href="{{ url_for('frontend.referee_create_admin') }}">
                    Create
                </a>
            </div>
            <hr>
            <table class="table is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Date of Birth
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Phone Number
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for referee in referees %}
                    <tr onclick="window.location='{{ url_for('frontend.referee_admin', id=referee.id) }}'">
                        <td>
                            {{ referee.id }}
                        </td>
                        <td>
                            {{ referee.first_name }} {{ referee.last_name }}
                        </td>
                        <td>
                            {{ referee.date_of_birth }}
                        </td>
                        <td>
                            {{ referee.address }} {{ referee.zip_code }} {{ referee.city }}
                        </td>
                        <td>
                            {{ referee.email }}
                        </td>
                        <td>
                            {{ referee.phone_number }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}