{% extends 'base.html' %}

{% block title %}
    Teams
{% endblock %}

{% block content %}
    <style>
        tr {
            cursor: pointer;
        }
    </style>
    <div class="section">
        <div class="container">
            <div class="level">

                <h1 class="title level-left has-text-primary mb-0">Teams</h1>

                <a class="button is-success level-right" href="{{ url_for('frontend.team_create_admin') }}">
                    Create
                </a>
            </div>
            <hr>
            <table class="table is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Stam Number
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Colors
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for team in teams %}
                    <tr onclick="window.location='{{ url_for('frontend.team_admin', id=team.id) }}'">
                        <td>
                            {{ team.id }}
                        </td>
                        <td>
                            {{ team.stam_number }}
                        </td>
                        <td>
                            {{ team.name }}
                        </td>
                        <td>
                            {{ team.colors }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}