{% extends 'base.html' %}

{% block title %}
    Users
{% endblock %}

{% block content %}
    <div class="section">
        <div class="container">
            <h1 class="title has-text-primary">Users</h1>
            <hr>
            <table class="table is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Username
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Is Admin
                    </th>
                    <th>
                        Is Super Admin
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>
                            {{ user.id }}
                        </td>
                        <td>
                            <a>
                                {{ user.username }}
                            </a>
                        </td>
                        <td>
                            {{ user.email }}
                        </td>
                        <td>
                            {{ user.is_admin }}
                        </td>
                        <td>
                            {{ user.is_super_admin }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}