{% extends 'base.html' %}

{% block title %}
    Users
{% endblock %}

{% block content %}
    <style>
        tr {
            cursor: pointer;
        }
    </style>
    <div class="section">
        <div class="container">
            <div class="level">

                <h1 class="title level-left has-text-primary mb-0">Users</h1>

                <a class="button is-success level-right" href="{{ url_for('frontend.user_create_admin') }}">
                    Create
                </a>
            </div>
            <hr>
            <table class="table is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Username
                    </th>
                    <th>
                        Team
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Is Admin
                    </th>
                    <th>
                        Is Super Admin
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr onclick="window.location='{{ url_for('frontend.user_admin', id=user.id) }}'">
                        <td>
                            {{ user.id }}
                        </td>
                        <td>
                            {{ user.username }}
                        </td>
                        <td>
                            {{ user.team_name }}
                        </td>
                        <td>
                            {{ user.email }}
                        </td>
                        <td>
                            {{ user.is_admin }}
                        </td>
                        <td>
                            {{ user.is_super_admin }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}